init.author.name = Nacho Navarro
init.author.email = inavarro@stratio.com
init.author.url = http://blog.nnavarro.com
# an email is required to publish npm packages
email=inavarro@stratio.com
always-auth=true
_auth=aW5hdmFycm86TmV3cnVzYWRpcjNzcw==