init.author.name = Nacho Navarro
init.author.email = inavarro@stratio.com
init.author.url = http://blog.nnavarro.com
# an email is required to publish npm packages
email=front@stratio.com
always-auth=true
_auth=ZnJvbnQ6c3RyYXRpbw==